body {
  margin: none;
  padding: none;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 800px;
  height: 800px;
  /* background-color: #380081; */
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 5px;
  border: #380081 5px solid;
}

.row-div {
  flex: auto;
  /* background-color: black; */
  display: flex;
  gap: 5px;
}

.pixel {
  border-radius: 5px;
  background-color: #380081;
  flex: auto;
}
